body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

.logo{
    font-size: 40px;
    font-weight: bold;
}

.head-content{
    display: inline-flex;
    margin-left: auto;
    gap: 30px;
}

header{
    z-index: 3;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lavender;
    color: #333;
    padding: 20px;
    box-shadow: 0px 0px 3px #333;
}

.footer{
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    background-color: lavender;
    color: #333;
    padding: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 3px #333;
    z-index: 4;
}

.content{
    display: flex;
    flex: auto;
}

.sidebar{
    display: flex;
    width: 250px;
    background-color: lavender;
    box-shadow: 0px 0px 2px #333;
    font-weight: bold;
    z-index: 2;
}

.sidebar ul li{
    width: 200px;
    background-color: whitesmoke;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: all 300ms;
}

.sidebar ul li:hover{
    cursor: pointer;
    background-color: #ccc;
    box-shadow: 0px 0px 3px #333;
}

.new-note{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.input-part{
    display: flex;
    margin-bottom: 20px;
    gap: 5px;
    flex: 1 1 auto;
    max-width: 100%;
    gap: 10px;
}

.note-edits{
    flex: auto;
    width: 150px;
    height: 30px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #333;
}

.note-edits:focus{
   outline: none;
   border-bottom: 2px solid #333;
}

.notes-section{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    z-index: 1;
}

.button-add,
.button-done{
    background-color: whitesmoke;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px;
    transition: all 300ms;
}

.button-add:hover,
.button-done:hover{
    cursor: pointer;
    background-color: #ccc;
    box-shadow: 0px 0px 3px #333;
}

.button-done{
    align-self: center;
    width: 100%;
}

#warning{
    color: red;
    font-weight: bold;
    align-self: center;
    font-size: 15px;
    margin-bottom: 5px;
}

.note{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: khaki;
    box-shadow: 0px 0px 2px #333;
    padding: 20px;
    width: 150px;
    min-height: 200px;
    flex: initial;
}

.note:hover{
    cursor: grab;
}

.note-info{
    display: flex;
    flex-direction: column;
}

.note-info li{
    list-style: disc;
    margin: 10px;
}

.note-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;    
}

.strike-line{
    text-decoration: line-through;
}

.note ul li:hover{
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
